#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


html {
  
  background: #000428; /* Fallback for browsers that do not support gradients */
  background: -webkit-radial-gradient(circle , #1306d0 10%, #00052e 90%); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(circle, #1306d0 10%, #00052e 90%); /* For Opera 11.1 to 12.0 */
  background: -moz-radial-gradient(circle, #1306d0 10%, #00052e 90%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(circle, #1306d0 10%, #00052e 90%); /* Standard syntax */
  animation: colorAnimation 15s infinite alternate;
}

nav {
  background-color: #1D4ED8; /* Blue color */
  padding: 1rem;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


.calculator {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.screen {
  margin-bottom: 20px;
}

.input {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
}

.result {
  font-size: 18px;
  color: #888;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button-row button {
  font-size: 20px;
  padding: 20px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-row button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

.action-button {
  background-color: #4CAF50;
  color: white;
}

.equal-button {
  background-color: #2196F3;
  color: white;
}

